@page
@model IMSWebPortal.Pages.Inventory.ViewInventoryModel
@{
    ViewData["Title"] = "Item Details";
}

<h4>@ViewData["Title"]</h4>
<partial name="./Shared/_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">

        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary right addbtn" asp-page="NewItem">Add New Item</a>
                </div>
            </div>
        }

        <form id="profile-form" method="post">

            <dv>
                <table id="ItemListTable" class="oktable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Name)</th>
                            <th>@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Sku)</th>
                            <th>@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Price)</th>
                            <th>@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Qty)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemRecord in Model.ItemDetils)
                        {
                        <tr>
                            <td>@Html.DisplayFor(e => itemRecord.Name)</td>
                            <td>@Html.DisplayFor(e => itemRecord.Sku)</td>
                            <td>@Html.DisplayFor(e => itemRecord.Price)</td>
                            <td>@Html.DisplayFor(e => itemRecord.Qty)</td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <a asp-page="./EditItem" asp-route-id="@itemRecord.Sku">Edit</a>
                                    <span> | </span>
                                    <a asp-page="./EditItem" asp-route-id="@itemRecord.Sku">Edit</a>

                                    @*<a asp-page="./Delete" asp-route-id="@item.ItemId">Delete</a>*@


                                    @*<button class="btn btn-primary right actionbtn deletebtn" onclick="DeleteItem(@itemRecord.Id)">Delete</button>
                                    <button class="btn btn-primary right actionbtn editbtn" onclick="EditItem(@itemRecord.Id)">Edit</button>*@
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dv>

        </form>
    </div>
</div>

@section Scripts {
}
