@page
@model IMSWebPortal.Pages.Inventory.ViewInventoryModel
@{
    ViewData["Title"] = "Item Details";
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
<div class="row">
    <div class="col-md-12">

        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <div class="row">
                <div class="col-md-12">
                    <button id="addNewItemBtn" class="btn btn-primary right addbtn">Add New Item</button>
                </div>
            </div>
        }

        <form id="profile-form" method="post">

            <dv>
                <table id="ItemListTable" class="oktable">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemRecord in Model.ItemDetils)
                        {
                            <tr>
                                <td>@Html.DisplayFor(e => itemRecord.Name)</td>
                                <td>@Html.DisplayFor(e => itemRecord.Price)</td>
                                <td>@Html.DisplayFor(e => itemRecord.Qty)</td>
                                <td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                    {
                                        <button class="btn btn-primary right actionbtn deletebtn" onclick="DeleteItem(@itemRecord.Id)">Delete</button>
                                        <button class="btn btn-primary right actionbtn editbtn" onclick="EditItem(@itemRecord.Id)">Edit</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dv>

        </form>
    </div>
</div>

@section Scripts {

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="~/css/empite.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>
}
