@page
@model IMSWebPortal.Pages.ManageInventory.UpdateQtyModel
@{
    ViewData["Title"] = "Update Qty";
}

<h4>@ViewData["Title"]</h4>
<partial name="./Shared/_StatusMessage" model="Model.StatusMessage" />
<div id="UpdateQtyDiv" class="row">
    <div class="col-md-12">

        <form id="profile-form" method="post">

            <dv>
                <table id="ItemQtyUpdateTable" class="oktable">
                    <thead>
                        <tr>
                            <th width="35%">@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Name)</th>
                            <th width="25%">@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Sku)</th>
                            <th width="15%">@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Price)</th>
                            <th width="25%">@Html.DisplayNameFor(e => Model.ItemDetils.FirstOrDefault().Qty)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ItemDetils.Count; i++)
                        {
                            <tr>
                                <td width="35%">@Html.TextBoxFor(e => Model.ItemDetils[i].Name, new { @class = "uneditable", @readonly = "readonly" })</td>
                                <td width="25%">@Html.TextBoxFor(e => Model.ItemDetils[i].Sku, new { @class = "uneditable", @readonly = "readonly" })</td>
                                <td width="15%">@Html.TextBoxFor(e => Model.ItemDetils[i].Price, new { @class = "uneditable alignright", @readonly = "readonly" })</td>
                                <td width="25%">
                                    @Html.TextBoxFor(e => Model.ItemDetils[i].Qty, new { @id = "QtyBox_" + @Model.ItemDetils[i].Id, @type = "number", @min = "0", @class = "numberbox", @onkeyup = "CheckQty(this," + @Model.ItemDetils[i].Id + ")" })
                                    <br />
                                    <span id='QtyError_@Model.ItemDetils[i].Id' class="errorlable"></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dv>

            <div>
                <button id="updateInvBtn" type="submit" class="btn btn-primary right savebtn">Update</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {

    <script>
        function CheckQty(obj, id) {
            if (obj.value.indexOf(".") != -1) {
                ValidateQty(true, id);
            } else if (parseInt(obj.value) < 0) {
                ValidateQty(true, id);
            } else {
                ValidateQty(false, id);
            }
        }

        function ValidateQty(isError, id) {
            if (isError) {
                document.getElementById("QtyError_" + id).innerHTML = "Please enter a valid qty";
                document.getElementById("updateInvBtn").disabled = true;
            } else {
                document.getElementById("QtyError_" + id).innerHTML = "";
                document.getElementById("updateInvBtn").disabled = false;
            }
        }
    </script>
}
