@page
@model IMSWebPortal.Pages.ManageUser.IndexModel

@{
    ViewData["Title"] = "Manage Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<partial name="./Shared/_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-12">

        <p>
            <a asp-page="Create">Create New User</a>
        </p>

        <form id="profile-form" method="post">

            <dv>

                <table id="UserListTable" class="oktable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetails[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetails[0].LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetails[0].UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserDetails[0].IsEnabled)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.UserDetails.Count; i++)
                        {
                            <tr>
                                <td>@Html.TextBoxFor(e => Model.UserDetails[i].FirstName, new { @class = "uneditable", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(e => Model.UserDetails[i].LastName, new { @class = "uneditable", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(e => Model.UserDetails[i].UserName, new { @class = "uneditable", @readonly = "readonly" })</td>
                                <td>@Html.CheckBoxFor(e => Model.UserDetails[i].IsEnabled, new { @class = "togglebox" })</td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@Model.UserDetails[i].Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@Model.UserDetails[i].Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </dv>

            <div>
                <button id="update-profile-button" type="submit" class="btn btn-primary right savebtn">Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>

        $(function () {
            $(".togglebox").bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled',
                size:'small'
            });
        })

    </script>
}