@page
@model IMSWebPortal.Pages.User.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h4>@ViewData["Title"]</h4>
<partial name="./Shared/_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <button id="addNewUserBtn" class="btn btn-primary right addbtn">Add New User</button>
            </div>
        </div>

        <form id="profile-form" method="post">

            <dv>
                <table id="UserListTable" class="oktable">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Active Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userDetail in Model.UserDetails)
                        {
                        <tr>
                            <td>@Html.DisplayFor(e => userDetail.FirstName)</td>
                            <td>@Html.DisplayFor(e => userDetail.LastName)</td>
                            <td>@Html.DisplayFor(e => userDetail.Username)</td>
                            <td>@Html.CheckBoxFor(e => userDetail.IsEnabled, new { @class = "togglebox" })</td>
                            <td><button class="btn btn-primary right actionbtn editbtn" onclick="EditUser(@userDetail.)">Edit</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dv>

            <div>
                <button id="update-profile-button" type="submit" class="btn btn-primary right savebtn">Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="~/css/empite.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>

        $(function () {
            $(".togglebox").bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        })

    </script>
}