@page
@model IMSWebPortal.Pages.User.ManageUsersModel
@{
    ViewData["Title"] = "Manage Users";
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <button id="addNewUserBtn" type="button" class="btn btn-primary">Add New User</button>
            </div>
        </div>

        <form id="profile-form" method="post">

            <dv>
                <table id="UserListTable">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Active Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userDetail in Model.UserDetails)
                        {
                        <tr>
                            <td>@Html.DisplayFor(e => userDetail.FirstName)</td>
                            <td>@Html.DisplayFor(e => userDetail.LastName)</td>
                            <td>@Html.DisplayFor(e => userDetail.Username)</td>
                            <td>@Html.CheckBoxFor(e => userDetail.IsEnabled, new { @class = "togglebox" })</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dv>

            <div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <style>
        .toggle, .toggle-on, .toggle-off {
            border-radius: 20px;
        }
        .toggle .toggle-handle {
            border-radius: 20px;
        }

        #UserListTable{
            width:100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            #UserListTable > thead > tr > th {
                border-top: 1px solid;
                border-bottom: 1px solid;
                background-color: aquamarine;
                padding: 5px;
            }

        #UserListTable > tbody > tr > td {
            border-top: 1px solid;
            border-bottom: 1px solid;
            padding: 5px;
        }

            #UserListTable > thead > tr > th:last-child, #UserListTable > tbody > tr > td:last-child{
                text-align: center;
            }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>

        $(function () {
            $(".togglebox").bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        })

    </script>

}